<div>
    <h3>Budget</h3>
    <form id="budgetForm" name="budgetForm" ng-submit="submit()">
        <label for "budgetMonthPicker">Month:</label><input id="monthPicker" type="number" value={{budgetMonth}} ng-model="budgetMonth" min="1" max="12" />
        <label for "budgetYearPicker">Year:</label><input id="yearPicker" type="number" value={{budgetYear}} ng-model="budgetYear" min="2015" max="2070" />
        <input type="submit" id="submit" value="Create Budget From Template" />
    </form>
</div>