<div>

    <h3>Money Owed</h3>

    <table border="1px">
        <tr>
            <th>Person Owes</th>
            <th>Person Owed</th>
            <th>Notes</th>
            <th>How Much?</th>
        </tr>
        <tr ng-repeat="moneyOwed in moneyOwedList">
            <td>{{ moneyOwed.personOwes }}</td>
            <td>{{ moneyOwed.personOwed }}</td>
            <td>{{ moneyOwed.notes}}</td>
            <td>{{ (moneyOwed.amountOwed / 100) | currency }}</td>
        </tr>
    </table>

    <p></p>
    {{ error }}


</div>