<div>

    <h3>Reconcile</h3>
    <table border="1px">
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Original Description</th>
            <th>Amount</th>
            <th>Credit Or Debt</th>
            <th>Category</th>
            <th>Mint Account Name</th>
            <th>Expected Account for Credit/Debit</th>

        </tr>
        <tr ng-repeat="tx in mintTransactionsToReconcile">
            <td>{{ tx.date }}</td>
            <td>{{ tx.description }}</td>
            <td>{{ tx.originalDescription }}</td>
            <td>{{ (tx.amount / 100) | currency }}</td>
            <td>{{ tx.creditOrDebit }}</td>
            <td>{{ tx.category  }}</td>
            <td>{{ tx.accountName }}</td>
            <td>{{ tx.expectedAccountName}}</td>
        </tr>
    </table>
    <p></p>
    {{ error }}


</div>